@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para animar o texto */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.typed-text {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

.text {
    opacity: 0;
    transform: translateY(50px); /* Deslocamento inicial */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Deslocamento final */
}

.card:hover{
    .my-btn{
        color: #EAB841;
        background-color: white;
    }
}



